# Binaries
bin/
*.exe
broadcaster-*

#config
config.yaml
*.yaml

# Dependencies
vendor/

# Go build cache
.cache/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Config files (optional)
config.local.yaml
*.local.yaml

# Logs
*.log
logs/

# Test files
test_output/
